{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block content %}

<div class="container">
    {% if image %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="card" style="margin-top: 30px;">
                <div class="card-header" style="font-weight: bolder;">
                    {{ image.user }}
                </div>
                <div class="card-body">
                    <p>{{ image.caption }} </p>
                    <p>
                        <span>
                            <button class="btn btn-sm btn-outline-warning">
                                <a  href="{% url 'like' image.id %}">
                                    Like
                                </a>
                            </button>
                        </span>
                        <span>{{ image.likes }}</span>
                    </p>
                    <form class="navbar-form" action="/comment/{{image.id}}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Comment " name="comment">
                        </div>
                    </form>
                </div>
            </div>
            {% if comments %}
            {% for comment in comments %}
                <p>
                    <span style="font-weight: bolder;">{{ comment.user }}: </span><small>{{comment.comment}}</small>
                </p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}